.container {
  margin: 0;
}

.header {
  height: 300px;
}

.avatar {
  width: 150px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  margin-top: 50px;
}

.bio {

  padding-bottom: 32px;
  padding-top: -100px;
}

.name {
  margin: 0;
  font-size: 25px;
  color: #ffffff;
}

.contacts {
  padding-top: 22px;
}

.links {
  text-decoration: none;
  display: inline-block;
  align-items: center;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 90px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.email:hover,
.email:focus {
  background-color: #ffffff;
  color: #ffffff;
}

.icons {
  width: 24px;
  padding-right: 10px;
  align-items: center;
}


