.interest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 300px;
  padding: 0 25px 48px 25px;
}

.header {
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
}

.texts {
  padding-top: 10px;
  margin: 0;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.5;
  font: inter;
}
