* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 22px;
}

.title {
    color: rgba(255, 255, 255, 0.9);;
    font-weight: 600px;
    align-items: left;
    height: 20px;
    width: 200px;
    border-radius: 20px;

}

.title2 {
    color: rgba(172, 216, 13, 0.9);
    font-weight: 400px;
    align-items: left;
    height: 20px;
    width: 200px;
    border-radius: 20px;

}

.title3 {
    color: rgba(177, 216, 13, 0.9);;
    font-weight: 400px;
    align-items: left;
    height: 20px;
    width: 200px;
    border-radius: 20px;

}



.nav--icon {
    height: 30px;
    margin-right: 7px;
}