@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #23252c;
  font-family: "Muli","Helvetica","Arial",sans-serif;
    ;
}
